/* Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    width: 600px;
    background: linear-gradient(#f0f0f5, #d1d1e0);
    font-family: "Roboto", san-serif;
}

/* Main */

.main-container {
    background:
        linear-gradient(217deg, #1f1f2e, #33334d);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container .header {
    padding: 20px 0;
}

#preResult {
    margin-bottom: 10px;
    text-align: center;
    visibility: hidden;
}

#result {
    width: 500px;
    height: 50px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 10px;
    color: white;
    border-radius: 20px;
    margin: 0 auto 20px auto;
}

.intro {
    text-align: justify;
    font-size: 1em;
}

.intro p {
    padding: 20px;
}

#instructions p:first-child {
    background-color: #666699;
}

#instructions p:last-child {
    background-color: #8585ad;
}

#instructions form {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

#number {
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    font-size: 1em;
}

#btn {
    background-color: white;
    border: 2px solid #c2c2d6;
    border-radius: 10px;
    padding: 5px;
    margin: auto 0 auto 5px;
    font-size: 1em;
}

#btn:hover {
    background-color: #f0f0f5;
}

section {
    margin-bottom: 20px;
}

/* post-main section */

#second-container {
    background:
        linear-gradient(217deg, #e1e1ea, #33334d);
}

#explanation p:nth-child(1) {
    background-color: #52527a;
}

#explanation p:nth-child(2) {
    background-color: #47476b;
}

#explanation p:nth-child(3) {
    background-color: #3d3d5c;
}

#explanation p:nth-child(4) {
    background-color: #33334d;
}

footer,
footer a {
    display: flex;
    align-items: center;
    opacity: .5;
    color: black;
    text-decoration: none;
    height: 50px;
    transition: all .2s ease-in-out;
}

footer p {
    margin-left: 10px;
}

footer a:hover,
footer {
    opacity: 1;
    transition: all .2s ease-in-out;
}

/* Media Queries */

@media only screen and (width: 600px) {
    body {
        background: black;
    }
}