/* Reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    width: 600px;
    background: linear-gradient(#1f0033, #1a0033);
    font-family: "Roboto", san-serif;
}

/* Main */

.main-container {
    background:
        linear-gradient(217deg, #1f1f2e, #33334d);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container .header {
    padding: 20px 0;
}

#preResult {
    margin-bottom: 10px;
    text-align: center;
    visibility: hidden;
}

#result {
    width: 500px;
    height: 50px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 10px;
    color: white;
    border-radius: 20px;
    margin: 0 auto 20px auto;
}

.intro {
    text-align: justify;
    font-size: 1em;
}

.intro p {
    padding: 20px;
}

#instructions p:first-child {
    background-color: #666699;
}

#instructions p:last-child {
    background-color: #8585ad;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

#number {
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    font-size: 1em;
}

#btn {
    background-color: white;
    border: 2px solid #c2c2d6;
    border-radius: 10px;
    padding: 5px;
    margin: auto 0 auto 5px;
    font-size: 1em;
}

#info {
    visibility: hidden;
    filter: invert(1);
}

#btn:hover {
    background-color: #f0f0f5;
}

#info img {
    display: none;
}

section {
    margin-bottom: 20px;
}

/* post-main section */

#second-container {
    background:
        linear-gradient(217deg, #e1e1ea, #33334d);
}

#explanation p:nth-child(1) {
    background-color: #52527a;
}

#explanation p:nth-child(2) {
    background-color: #47476b;
}

#explanation p:nth-child(3) {
    background-color: #3d3d5c;
}

#explanation p:nth-child(4) {
    background-color: #33334d;
}

footer,
footer a {
    display: flex;
    align-items: center;
    opacity: .5;
    color: black;
    text-decoration: none;
    height: 50px;
    transition: all .2s ease-in-out;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    visibility: hidden;
    opacity: 0;
    transition: transform .6s ease-in-out, left .6s ease-in-out, opacity 1s ease-in-out;
    margin-left: 5px;
    position: relative;
    right: 60px;
}

#social-media {
    position: relative;
    left: 64px;
    transition: all .5s ease-in-out;
    transform: rotate(0deg);
}

footer a:hover,
footer {
    opacity: 1;
    transition: all .2s ease-in-out;
}

/*************************** Media Queries *****************************/

@media only screen and (min-width: 320px) and (max-width: 479px) {

    body {
        background: black;
        width: auto;
        margin-top: 0;
        font-size: .9rem;
    }

    .main-container {
        border-radius: 0;
        height: 100vh;
        margin: 0 auto;
    }

    #second-container {
        background:
            linear-gradient(217deg, #1f1f2e, #33334d);
    }

    .main-container .header {
        padding: 4vh 0;
        font-size: 4vw;
    }

    #preResult {
        margin: 10px 20px;
        font-size: .9em;
    }

    #result {
        width: auto;
        margin: 0 20px;
    }

    #second-container {
        display: flex;
        z-index: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
    }

    section {
        margin-bottom: 0;
    }

    #instructions {
        display: flex;
        flex-direction: column;
    }

    .intro p {
        padding: 4vh 9vw;
        font-size: 4.5vw;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 5vh 0 5vh 0;
    }

    form input {
        margin-bottom: 2vh;
    }

    #number {
        font-size: 5vw;
        width: 75vw;
        margin: 0 auto 1vh auto;
    }

    #btn {
        margin-left: 0;
        width: 75vw;
        margin: 0 auto;
        font-size: 1.5em;
        background-color: #3366cc;
        border: 3px solid #5c85d6;
        color: white;
        padding: 2vh 0;
    }

    #btn:hover {
        background-color: #7094db;
    }

    #preResult {
        font-size: 4vw;
        white-space: nowrap;
    }

    #result {
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
        height: 10vh;
    }

    #info {
        margin: 0 auto;
        position: relative;
        top: 10vh;
        visibility: visible;
        opacity: .5;
        bottom: 0;
    }

    #info:hover {
        opacity: 1;
    }

    #info img {
        width: auto;
        height: 6vh;
        display: block;
        position: fixed;

    }

    footer p {
        display: none;
    }

    #exit {
        width: auto;
        height: 6vh;
        display: block;
        position: fixed;
        bottom: 10vh;
        right: 44.5vw;
        filter: invert(1);
        opacity: .5;
    }

    #social-media {
        position: inherit;
        filter: invert(1);
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background: green;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background: red;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    body {
        width: 600px;
    }
}